<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="8f807078-23ce-40d4-8c58-5ee976c89cd9" Publisher="CN=Pez" Version="1.0.0.1" />
  <Properties>
    <DisplayName>CSSoc</DisplayName>
    <PublisherDisplayName>Pez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CSSoc.App">
      <m2:VisualElements DisplayName="CSSoc" Square150x150Logo="Assets/CSSocSquare.png" Square30x30Logo="Assets\SmallLogo.png" Description="CSSoc" ForegroundText="light" BackgroundColor="#FFFFFF">
        <m2:DefaultTile Wide310x150Logo="Assets\WideLogo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\CSSocSplash.png" BackgroundColor="#FFFFFF" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>